* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #fff;
    font-family: "Noto Sans", sans-serif;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  
  div {
    padding: 10px;
  }
  
  img {
    max-width: 100%;
  }
  
  .main
  {margin: 7px;}
  
  /* navigation */
  .navegacion {
    background-color:#fff;
    padding: 1rem 15%;
    position:fixed;
    font-family: "Lucida console";
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 4px 4px #f5ccd3;;
  }
  .navegacion a {
    padding: 0 1.5 rem;
    color: #575656;
  }
  /*Cambio de color  las letras cuando (a) cuando pasan sobre ellas o seleccionarlas*/
  .navegacion a:hover {
      color: #ffcada;
      font-size: 15px;
  }
  
  .navegacion button {
    border: none;
    cursor: pointer;
    padding: 8px;
    width: 50px;
  }
  
  .navegacion ul {
    text-align: center;
    height: 0;
    margin: 0;
    padding: 0;
    transform: scale(0);
    transform-origin: top;
    transition: transform 0.5s ease;
  }
  
  .navegacion--activa ul {
    height: auto;
    transform: scale(1);
  }
  
  .navegacion ul li {
    display: block;
    padding: 14px;
    text-align: center;
    
  }
  .navegacion img{
   width: 15px;
   height: 15px;
  }


.contenedor{

    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    text-align: center;

}
.Inicio-F{

    margin: 75px 15px;
    width: 100%;
    height: 70%;
    text-align: center;
    background: rgba(255, 254, 254, 0.5) ;
    border-bottom: 2px solid #ee98a9;
    border-top:2px solid #ee98a9;
    box-shadow: #f7baba 1px 2px 16px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;



}

h2{
    font-size: 1.5em;
    color: #adabab;
    text-align: center;
}
.grupo{
  position: relative;
}
.input-form{

    width: 100%;    
    background:transparent;
    border:none;
    outline: none;
    border-bottom: 1px solid #f7baba ;
    color:#d74949;
    font-size:1rem;
    padding: .6em .3em;

}


.label-form{
 
    display: flex; 
    color: #ee98a9;
    cursor: pointer;
    top: 0;
    left: 5px;
    transform: translateX(10px);
    transition: transformolor .3s;
    transition: transform;
    position:absolute;
    
}
.input-form:focus + .label-form,
.input-form:not(:placeholder-shown)+.label-form{
  transform: translateY(-12) scale(.7);
  font-size: 10px;
  color:#c36c6c;
  transform-origin: left TOP;
  transition: 0.5s;

}




.boton-inicio{
    width: 70%;
    height: 40px;
    color: #4e4b4b;
    border-radius: 40px;
    background: #ee98a9 ;
    border-bottom: 2px solid #adabab;
    border-top:2px solid #ee98a9;
    box-shadow: #f7baba 1px 2px 16px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.grupo a{

  margin: 15px 25px;
  color: #c36c6c;
  font-size: 1em;
}
a{
  color: #c36c6c;
}
footer{
  padding:1em 15%;

  background-color:#ee98a9;
  text-align:center;
  color:rgba(255,255,255,0.7);
  font-size:12px;
}

  @media (min-width: 800px) {
    .main {
      margin: 14px;
    }
  
    .navegacion button {
      display: none;
    }
  
    .navegacion ul {
      display: block;
      height: auto;
      transform: none;
    }
  
    .navegacion ul li {
      display: inline-block;
    }
  }